{% extends 'base.html' %}

{% block title %}Log In{% endblock title %}

{% block content %}
<div style="width: 810px; margin:2em auto;">
    <h2>Log In</h2>
    <form method="post">
        {% csrf_token %}
        <p><input class="form-control" type="text" name="login" placeholder="Username or e-mail" autocomplete="email" required="" id="id_login">
        <p><input class="form-control" type="password" name="password" placeholder="Password" autocomplete="current-password" required="" id="id_password">
        <p><label for="id_remember">Remember Me:</label> <input type="checkbox" name="remember" id="id_remember"></p>
        <div style="text-align: right;">
            <button class="btn btn-success" type="submit">Log In</button>
        </div>
    </form>
</div>
{% endblock content %}