.results-container {
    display: grid;
    background: white;
    grid-template:
        "picture title"
        "picture info"/ 60px 1fr
    ;
    z-index: 999999999;
    border-bottom: .5px solid rgb(238, 238, 238);
    padding: .25em 0;
}
.navbar-logo{
    margin-left: .5em;
}
.custom-logo {
    width: 100px;
}
.navbar-about, .navbar-contact  {
    margin: auto 0 0 .5em;
}
.navbar-link {
    white-space: nowrap;
}
.navbar-link:link, .navbar-link:visited {
    text-decoration: none;
    color: inherit;
}
.results-container:link, .results-container:visited {
    text-decoration: none;
    color: inherit;
}
.genre-link {
    color: rgb(37, 37, 37);
}
.genre-link:link {
    text-decoration: none;
}
.results-img {
    grid-area: picture;
    width: 55.7667px;
    height: 82.3167px;
    margin: auto;
}
.results-name {
    grid-area: title;
    display: flex;
}
.results-info {
    grid-area: info;
}



.custom-navbar {
    width: 100%;
    height: min-content;
    min-height: 63px;
    background-color: rgb(37, 37, 37);
    color:  white ;
    position: sticky;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    top:0;
    z-index: 9999;
}

.navbar-container {
    display: grid;
    grid-template: 
        "logo about contact profile" 1fr
        "search search search search" 1fr / min-content min-content 1fr min-content
    ;
    max-width: 1400px;
    margin: 0 auto;
    align-items: baseline;
}
.navbar-logo {
    grid-area: logo;
}
.navbar-about {
    grid-area: about;
}
.navbar-contact {
    grid-area: contact;
}
.navbar-link {
    font-size: 1em;
}
.search-form {
    grid-area: search;
}
.navbar-welcome {
    display: none;
    margin: 0 1em 0 0;
    overflow:hidden; 
    text-overflow: ellipsis; 
    text-align: right;
    white-space: nowrap;
    transform: translateY(2px);
}
.navbar-profile {
    color: white;
    grid-area: profile;
    font-size: 1.75em;
    margin: 0 .5em 0 0;
    transform: translateY(3px);
}



.searchbar-container {
    width: 95%;
    max-width: 570px;
    margin: auto auto 1em auto;
    padding-top: .25em;
    display: flex;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}
.search-btn {
    border: none;
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 30px;
}
.searchbar {
    width: 100%;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#search-results-container {
    border-radius: 5px;
    position: fixed;
    background: white;
    max-height: min(500px, 60%);
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 99999 !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    padding-right: 2em;
}
#profile-dropdown {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    position: fixed;
    background: white;
    z-index: 999999 !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    padding: .5em;
}
#profile-dropdown a {
    color:rgb(37, 37, 37);
    margin-bottom: .5em;
    border-bottom: 1px solid rgb(238, 238, 238);
    white-space: nowrap;
}
.text-ellipsis {
    margin-bottom: 0px;
    display: block; 
    overflow:hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    width: 70%;
}
.account-container {
    position:absolute;
    grid-area: profile;
    display: grid;
    grid-template: "log-in"
                   "sign-up";
    top: -.05em;
    right: 1em;
    transform: translateY(5px);
}
.login {
    grid-area: log-in;
}
.signup {
    grid-area: sign-up;
}
.login, .signup {
    white-space: nowrap;
    font-size: .75em;
    color: white;
}
.login:link, .signup:link, .logout:link, .profile-link:link{
    text-decoration: none;
}
.logout-background {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .4;
    z-index: 2;
}
.logout-menu {
    position: fixed;
    padding: 1em 2em;
    margin: 1em auto;
    border-radius: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 400px;
    width: 100%;
    background: white;
    z-index: 9;
}
@media screen and (min-width: 360px) {
    .account-container {
        position: relative;
        grid-template: "log-in sign-up";
        top: none;
        right: none;
        margin: auto 0;
        transform: translateY(8px);
    }
    .signup {
        margin: auto 0 0 .75em;
    }
}
@media screen and (min-width: 480px) {
    .account-container {
        transform: translateY(7px);
    }
    .text-ellipsis {
        width: 90%;
    }
    .navbar-container {
        grid-template: 
        "logo about contact welcome profile" 1fr
        "search search search search search" 1fr / min-content min-content min-content 1fr min-content
    ;
    }
    .navbar-about, .navbar-contact {
        margin-left: 1em;
    }
    .navbar-welcome {
        display: inline;
    }
    .login, .signup {
        font-size: 1em;
    }
    .signup {
        margin-right: .5em;
        margin-left: 1em;
    }
}
@media screen and (min-width: 730px) {
    .account-container {
        transform: translateY(6px);
    }
    .custom-navbar {
        padding-top: 7px;
    }
    .navbar-container {
        grid-template-areas: 
            "logo about contact search welcome profile"
        ;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3,min-content) 1fr repeat(2,min-content);
    }
    .text-ellipsis {
        max-width: 70%;
    }
    .signup {
        margin-right: 0;
    }
    .login {
        margin-left: 1em;
    }
    .searchbar-container, .navbar-welcome, .navbar-profile {
        transform: translateY(10px);
    }
}
@media screen and (min-width: 1300px)  {

    .search-form {
        transform: translateX(-2.5%)
    }

}