{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock styles %}

{% block title %}About{% endblock title %}

{% block content %}
<div class="about-page-container">
    <h1 class="page-title">About</h1>
    <section class="about-myself-container">
        <div class="amc-intro">
            <h3>
                First a bit about myself,
            </h3>
        </div>
        <div class="amc-paragraph">
            <p>
                I am a Supply Chain Management undergraduate from The University of Texas at Dallas. Now, you may
                be wonder why someone who has a supply chain major would be developing and designing websites instead
                of putting his major to use. Well, the truth is I previously had a job as a team lead in the shipping 
                and receiving section of a warehouse for a company called White Cap where I would accept incoming 
                shipments, send products to our customers, and spend any free time reorganizing the warehouse to be 
                more efficient. My days were enveloped in a repetitive loop where I'd often find myself counting down 
                the hours until I could clock out. I knew I wouldn't be able to spend the next 30 years of my life like this,
                so I decided it would be best to leave and teach myself to code (something I've had an interest for since I was younger). 
                I haven't looked back since.
            </p>
        </div>
        <div class="amc-img-container">
            <img class="amc-img" src="{% get_media_prefix %}site_images/Andrew1200X1600.jpg">
        </div>
    </section>
    <section class="about-past-year-container">
        <div class="apyc-paragraph">
            <p>
                In the past year, I've spent my time developing a background in Python, Django, CSS, HTML, and JavaScript.
                There's already a huge difference in how I feel with coding versus how I felt with my old job. The old
                repeptition has dissipated, and each day is a new and exciting challenge to overcome. The industry and
                technology are constantly expanding, which allows me the opportunity to continue learning and growing.
                It also keeps me quick on my feet and pushes me to continue expanding my knowledge every day. I couldn't
                imagine a better industry for me to be involved in. My outlook on my next 30 years has grown exponentially
                brighter, and I'm excited to finally start my career in web developement.
            </p>
        </div>
        <div class="apyc-img-container">
            <img class="apyc-img" src="{% get_media_prefix %}site_images/Coding_Pic.png">
        </div>
    </section>
    <section class="about-website-container">
        <div class="awc-intro">
            <h3>
                Now a bit about my website,
            </h3>
        </div>
        <div class="awc-paragraph">
            <p>
                Reel Review is a project to practice and combine everything I've learned thus far.It's also the first
                opportunity I've had to apply my JavaScript vanilla to an actual website. This project has taught me just
                how complicated it can be to put together a realistic website on a grander scale that I've done in the 
                past, and I learned to importance of proper planning and organization of how the development will be 
                executed because needing to dig through old code that conflicts with new code can be extremely cumbersome 
                if the code base is a scrambled mess. I plan to apply better organization of my code towards future projects.
            </p>
        </div>
        <div class="awc-img-container">
            <img class="awc-img" src="{% get_media_prefix %}site_images/Filming_Man_Sillouette.png">
        </div>
    </section>
    <section class="about-outro-container">
        <div class="aoc-paragraph">
            <p>
                Thank you for taking the time to look through my website! If you have any advice or constructive critcism,
                please navigate to the contact link located in the upper navbar, or 
                <a style="color: gray;" href="{% url 'contact' %}">click here</a>. 
                Thanks again, and have a wonderful day!
            </p>
        </div>
    </section>
</div>
{% endblock content %}