{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    {% block styles %}{% endblock styles %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <title>{% block title %}Movie Reviews{% endblock title %}</title>
</head>
<body>

    <nav class="custom-navbar">
        <div class="navbar-container">
            <a class="navbar-logo navbar-link" href="{% url 'movie_list' %}"><h1>Navbar</h1></a>
            <a class="navbar-about navbar-link" href="{% url 'about' %}"><h5>About</h5></a>
            <a class="navbar-contact navbar-link" href="{% url 'contact' %}"><h5>Contact</h5></a>
            <form class="search-form" method="GET" action="{% url 'search_list' %}">
                <div class="searchbar-container">
                    <input id="searchbar" class="searchbar" type="search" name="search" placeholder="Search" autocomplete="off">
                    <button type="submit" class="search-btn bi bi-search"></button>
                </div>
            </form>
            {% if user.is_authenticated %}
                <p class="navbar-welcome">Hello, {{ user.username }}!</p>
                <a id="profile-menu"class="navbar-profile bi bi-person-circle"></a>
            {% else %}
                <div class="account-container">
                    <a class="login" href="{% url 'account_login' %}">Log In</a>
                    <a class="signup" href="{% url 'account_signup' %}">Sign Up</a>
                </div>
            {% endif %}
        </div>
    </nav>


    {% if user.is_authenticated %}
    <div id="profile-dropdown" class="hide-element">
        <a class="profile-link" href="{% url 'user_profile' %}">Profile</a>
        <a class="logout" href="{% url 'account_logout' %}">Log Out</a>
    </div>
    {% endif %}
    
    <div id="search-results-container" class="custom-scrollbar hide-element"></div>
    <div class="logout-background hide-element"></div>
    <div class="logout-menu hide-element">    
        <h2>Log Out</h2>
        <p>Are you sure you'd like to log out?</p>
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            <a id="cancel-btn" class="btn btn-outline-secondary">Cancel</a>
            <button class="btn btn-danger" style="float: right;" type="submit">Log Out</button>
        </form>
    </div>

    {% block content %}{% endblock content %}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script>

        let searchBar = document.querySelector('#searchbar');
        let searchResults = document.querySelector('#search-results-container');
        let moviesResultsList = document.querySelector('#movies-results-list');
        let peopleResultsList = document.querySelector('#people-results-list');
        let genreResultsList = document.querySelector('#genre-results-list');
        let profileDropdown = document.querySelector('#profile-dropdown');
        let profileMenu = document.querySelector('#profile-menu')
        
        let movieList = [];
        let peopleList = [];
        let genreList = [];
        let currentSearchString = []
        
        let fetchRequired = true

        document.addEventListener("click", e => {
            if (!(searchResults.contains(e.target) || searchBar.contains(e.target))) {
                    searchResults.classList.add('hide-element');
            };
            if (profileMenu) {    
                if (!(profileMenu.contains(e.target) || profileDropdown.contains(e.target))) {
                    profileDropdown.classList.add('hide-element')
                };
            };
        });

        if (profileMenu) {
            profileMenu.addEventListener('click', e => {
                if (profileDropdown.classList.contains('hide-element')) {
                    profileDropdown.classList.remove('hide-element')
                } else {
                    profileDropdown.classList.add('hide-element')
                };
            });
        };

        searchBar.addEventListener('focus', (e) => {
            if (fetchRequired) {
                searchbarFetch();
                fetchRequired = false;
            }
            if (e.target.value != '') searchResults.classList.remove('hide-element');
        });

        searchBar.addEventListener('keyup', (e) => {
            
            let searchString = e.target.value.toLowerCase();
            let filteredMovies = movieList.filter( movie => {
                return (movie.title.toLowerCase().includes(searchString) || 
                        movie.distribution_company.toLowerCase().includes(searchString));
            });
            let filteredPeople = peopleList.filter( person => {
                return person.name.toLowerCase().includes(searchString);
            });
            let filteredGenre = genreList.filter( genre => {
                return genre.genre.toLowerCase().includes(searchString);
            });
           htmlString = [
                displayMovies(filteredMovies.slice(0,5)),
                displayPeople(filteredPeople.slice(0,5)),
                displayGenre(filteredGenre)
            ].join('')
            if (!(e.target.value)) searchResults.classList.add('hide-element');
            if (htmlString.length && e.target.value) {
                searchResults.innerHTML = htmlString;
                searchResults.classList.remove('hide-element');
            } else {
                searchResults.innerHTML = '<p class="text-ellipsis">no results found</p>';
            };
        });


        function searchbarFetch() {
            fetch('{% url "fetch" %}', {
                headers:{
                    'Accept': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest',
                },
            }).then(response => {
                return response.json();
            }).then (data => {
                movieList = data.movies;
                peopleList = data.people;
                genreList = data.genres;
            }).catch(error => {
                console.error(error);
            });
        };

        function displayMovies(movies) {
            if (movies.length == 0){
                return ''
            } else { 
                let htmlString = movies.map( movie => {
                    return `
                    <li>
                        <a class="results-container" href="${movie.link}" class="results-name">
                            <img class="results-img" src="${movie.cover}">
                            <div class="results-name">
                                <strong class="text-ellipsis">${movie.title}&nbsp;</strong>
                                <p class="text-ellipsis">(${movie.date_released.slice(0,4)})</p>
                            </div>
                            <div class="results-info">
                                <div class="parent-holder">
                                    <div class="child-holder">
                                        <span class="bi bi-star-fill"></span>
                                        <span class="bi bi-star-fill"></span>
                                        <span class="bi bi-star-fill"></span>
                                        <span class="bi bi-star-fill"></span>
                                        <span class="bi bi-star-fill"></span>
                                    </div>
                                    <div class="child-holder-filled" style="width:${movie.avg_review/5*100}%">
                                        <span class="bi bi-star-fill viewer-review-rating-hover"></span>
                                        <span class="bi bi-star-fill viewer-review-rating-hover"></span>
                                        <span class="bi bi-star-fill viewer-review-rating-hover"></span>
                                        <span class="bi bi-star-fill viewer-review-rating-hover"></span>
                                        <span class="bi bi-star-fill viewer-review-rating-hover"></span>
                                    </div>
                                </div>
                                <p class="text-ellipsis">${movie.distribution_company}</p>
                            </div>
                        </a>
                    <li>
                    `;
                }).join('');
                return `               
                    <h1>Movies</h1>
                    <ul id="movies-results-list" style="list-style-type: none;">    
                    `+htmlString+`
                    </ul>`;
            }
        };

        function displayPeople(people) {
            if (people.length == 0) {
                return ''
            } else {
                let htmlString = people.map( person => {
                    return `
                    <li>
                        <a class="results-container" href="${person.link}">
                            <img class="results-img" src="${person.picture}">
                            <strong class="results-name text-ellipsis">${person.name}</strong>
                            <div class="results-info">
                                <p class="text-ellipsis">${person.birth_date}</p>
                                <p class="text-ellipsis">${person.birth_place}</p>
                            </div>
                        </a>
                    <li>
                    `;
                }).join('');
                return `
                <h1>People</h1>
                <ul id="people-results-list" style="list-style-type: none;">
                `+htmlString+`
                </ul>`;
            }
        };

        function displayGenre(genres) {
            if (genres.length == 0) {
                return ''
            } else {
                let htmlString = genres.map( genre => {
                    return `<a class="genre-link" href="${genre.link}">${genre.genre}&nbsp</a> `;
                }).join('');
                return `
                    <h1>Genre</h1>
                    <ul id="genre-results-list">
                    <p class="results-name text-ellipsis">
                    `+htmlString+`
                    </ul>
                    </p>`;
            }
        };



        searchPositioner(searchBar);
        if (profileMenu) profilePositioner(profileMenu);
        window.onresize = event => {
            searchPositioner(searchBar);
            if (profileMenu) profilePositioner(profileMenu);
            if (flexContainer && widthMachineResizer) flexContainer.style.width = widthMachineResizer.scrollWidth-35 + "px";
        }


        function searchPositioner(element) {
            let searchPosition = element.getBoundingClientRect();
            searchResults.style.left =  searchPosition.left +'px';
            searchResults.style.top =   searchPosition.top +
                                        searchPosition.height + 10 + 'px';
            searchResults.style.width = searchPosition.width + 30 + 'px';
        };
        function profilePositioner(element) {
            let profilePosition = element.getBoundingClientRect();
            profileDropdown.style.left =  profilePosition.right - 75 + 'px';
            profileDropdown.style.top =   profilePosition.top +
                                          profilePosition.height + 'px';
        };



    let flexContainer = document.querySelector('.flex-container');
    let widthMachineResizer = document.querySelector('#width-machine');
    if (flexContainer && widthMachineResizer) flexContainer.style.width = widthMachineResizer.scrollWidth-35 + "px";
    
    let logoutButton = document.querySelector('.logout');
    let logoutBG = document.querySelector('.logout-background');
    let logoutMenu = document.querySelector('.logout-menu');
    logoutButton.addEventListener('click', e => {
        e.preventDefault();
        logoutBG.classList.remove('hide-element');
        logoutMenu.classList.remove('hide-element');
    });
    let cancelButton = document.querySelector('#cancel-btn');
    cancelButton.addEventListener('click', e => {
        e.preventDefault();
        logoutBG.classList.add('hide-element');
        logoutMenu.classList.add('hide-element');
    });
    
    
    </script>
    

</body>
</html>