{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/movie_detail.css' %}">
{% endblock styles %}

{% block title %}{{ movie.title }}{% endblock title %}

{% block content %}
<h1>Movie Detail</h1>
<h3>{{ movie.title }}</h3>
<div id="movie-info">
    <img src='{{ movie.cover.url }}'>
    <h4>Movie Info</h4>
    <div id="average-reviews">
        <strong>Average Review: </strong>
        <div class="parent-holder">
            <div class="child-holder">
                <span class="bi bi-star-fill"></span>
                <span class="bi bi-star-fill"></span>
                <span class="bi bi-star-fill"></span>
                <span class="bi bi-star-fill"></span>
                <span class="bi bi-star-fill"></span>
            </div>
            <div class="child-holder-filled">
                <span class="bi bi-star-fill viewer-review-rating-hover"></span>
                <span class="bi bi-star-fill viewer-review-rating-hover"></span>
                <span class="bi bi-star-fill viewer-review-rating-hover"></span>
                <span class="bi bi-star-fill viewer-review-rating-hover"></span>
                <span class="bi bi-star-fill viewer-review-rating-hover"></span>
            </div>
        </div>
    </div>
    <br>
    <p>
        <strong>Rating: </strong>
        {{ movie.movie_rated }}
    </p>
    <p>
        <strong>Genre: </strong>
        {% for genre in movie.genre.all %} 
            {% if forloop.last %}
                {{ genre }}
            {% else %} 
                {{ genre }},
            {% endif %}
        {% endfor %}
    </p>
    <p>
        <strong>Production Company: </strong> 
        {{ movie.production_company }}
    </p>
    <p>
        <strong>Distribution Company: </strong> 
        {{ movie.distribution_company }}
    </p>
    <p>
        <strong>Release Date:</strong>
        {{ movie.date_released }}
    </p>
    <p>
        <strong>Runtime:</strong>
        {{ movie.movie_length }} minutes
    </p>
</div>
<div>
    <h4>Plot</h4>
    <p>
        {{ movie.plot }}
    </p>
</div>
<div>
    <h4>Cast and Crew</h4>
    {% for crew in movie.crew.all %}
        <img src="{{ crew.person.picture.url }}">
        <a href="{{ crew.person.get_absolute_url }}">{{ crew.person.name }}</a>
        <p class="text-muted">{{ crew.role }}</p>
    {% endfor %}
</div>
<br>
<div>
    <h4>Write a Review</h4>
    <form method="post" id="review-form">
        {% csrf_token %}
        <p id="review-form-title">{{ review_form.title.label }}: {{ review_form.title }}</p>
        <p class="viewer-review-rating">
            {% for radio in review_form.viewer_rating %}
                <label  id="form-stars-label" for="{{ radio.id_for_label }}" class="bi bi-star-fill" data-counter="{{ forloop.counter }}">
                    <span class="radio">
                        <input type="radio" name="viewer_rating" value="{{ forloop.counter }}" id="id_viewer_rating_{{ forloop.counter0 }}">
                    </span>
                </label>
            {% endfor %}
        </p>
        <p id="review-form-comment">{{ review_form.comment.label }}: {{ review_form.comment }}</p>
        
        <button id="review-form-submit" type="submit">Submit</button>
    </form>
</div>
<br>
<div id = "review-section">
    <h4>Reviews</h4>
    {% for review in reviews %}
        <div id="review-post" class="hide-element">
            <h5>{{ review.title }}</h5>
            {% with ''|center:5 as range %}
                {% for x in range %}
                    {% if forloop.counter <= review.viewer_rating %}
                        <span class="bi bi-star-fill viewer-review-rating-hover"></span>
                    {% else %}
                        <span class="bi bi-star-fill"></span>
                    {% endif %}
                {% endfor %}
            {% endwith %}
            <p>{{ review.comment }}</p>
            <p>- {{ review.author }} at <span id='date-posted'>{{ review.date_posted.isoformat }}</span></p>
            <br>
        </div>
    {% endfor %}
    <button type="button" id="load-more">Load More Reviews</button>
</div>

<script> 

document.querySelector("#review-form").addEventListener('submit', postReviewData);

let averageReview = '{{ review_avg.viewer_rating__avg }}';
let wholeReview = Math.floor(averageReview / 1);
let fractionReview = averageReview % wholeReview;
let roundedFraction = Math.floor(fractionReview * 10) / 10;
let roundedAverageReview = wholeReview + roundedFraction;

let reviewStarsWidth = averageReview/5*100;

let averageReviewContainer = document.querySelector(".child-holder-filled");
averageReviewContainer.style.width = reviewStarsWidth + '%';

let averageReviewNode = document.querySelector('#average-reviews');
let roundedReviewText = document.createElement('span');
roundedReviewText.textContent = roundedAverageReview;
averageReviewNode.appendChild(roundedReviewText);

const loadMore = document.querySelector('#load-more');
const hid = [...document.querySelectorAll('#review-post')];

hid.splice(0, 9).forEach(
  elem => elem.classList.remove('hide-element')
);

loadMore.addEventListener('click', function(e) {
  e.preventDefault();
  
  hid.splice(0, 6).forEach(
    elem => elem.classList.remove('hide-element')
  )
  
  if (hid.length == 0) {
    loadMore.classList.add('hide-element');
  }
});




async function postReviewData(event) {
    event.preventDefault();

    let formTitle = document.querySelector("#id_title").value;
    let formReview = getSelectRadioValue("[name=viewer_rating]");
    let formComment = document.querySelector("#id_comment").value;
    let formAuthor = '{{ request.user.username }}';
    let formDate = new Date();
    
    let dataForm = new FormData();
    
    dataForm.append('viewer_rating', formReview);
    dataForm.append('title', formTitle);
    dataForm.append('comment', formComment);
    dataForm.append('author', formAuthor);
    dataForm.append('csrfmiddlewaretoken', '{{ csrf_token }}')

    await fetch('{% url "movie_detail" movie.id %}', {
        method: 'post',
        body: dataForm,
    })
    .catch(error => {
        console.error(error);
    });

    newReview = createReviewPost(formTitle, formComment, formReview, formAuthor, formDate);
    reviewSection = document.querySelector('#review-section');
    reviewSectionChildren =  reviewSection.childNodes;
    reviewSection.insertBefore(newReview, reviewSectionChildren[2]);

    document.querySelector("#review-form").reset();
    resetSelectRadioStyle('#form-stars-label');
};

function getSelectRadioValue(queryValue) {
    let radioButtons = document.querySelectorAll(queryValue);
    for (let button of Array.from(radioButtons)) {
        if (button.checked) {
            return button.value;
        };
    };
    return 0;
};

function resetSelectRadioStyle(queryValue) {
    let radioButtons = document.querySelectorAll(queryValue);
    for (let button of Array.from(radioButtons)) {
        button.style.color = "";
        button.style.textShadow = "";
    }
}

function createReviewPost(title, comment, review, author, date){
    let newDiv = document.createElement('div');
    newDiv.id = 'review-post';

    let reviewTitle = document.createElement('h5');
    reviewTitle.textContent = title;
    newDiv.appendChild(reviewTitle);

    let reviewStars = document.createElement('span'); 
    reviewStars.className = 'bi bi-star-fill viewer-review-rating-hover';
    reviewStars.textContent = ' ';
    let addedStar;
    for (let count = 0; count < review; count++) {
        addedStar = reviewStars.cloneNode(true);
        newDiv.appendChild(addedStar);
    }
    for (let count = 4; count >= review; count --) {
        addedStar = reviewStars.cloneNode(true);
        addedStar.className = 'bi bi-star-fill';
        newDiv.appendChild(addedStar);
    }

    let reviewComment = document.createElement('p');
    reviewComment.textContent = comment;
    newDiv.appendChild(reviewComment);

    let reviewAuthor = document.createElement('p');
    reviewAuthor.textContent = '- ' + author + ' at ';
    newDiv.appendChild(reviewAuthor);

    let reviewDate = document.createElement('span');
    reviewDateObject =myDateTimeFormatter(date.toISOString());
    reviewDate.textContent = `${reviewDateObject['day']} ${reviewDateObject['month']} ${reviewDateObject['year']}, ` + 
                        `${reviewDateObject['hour']}:${reviewDateObject['minutes']} ${reviewDateObject['follower']}`;
    reviewAuthor.appendChild(reviewDate);

    newDiv.appendChild(document.createElement('br'));

    return newDiv;
};

function myDateTimeFormatter(isoDate) {
    let months = [
    'January',
    'February', 
    'March', 
    'April', 
    'May', 
    'June', 
    'July', 
    'August', 
    'September', 
    'October', 
    'November', 
    'December'
    ]
    let nodeDate = new Date(isoDate);
    let theYear = nodeDate.getFullYear();
    let theMonth = months[nodeDate.getMonth()];
    let theDay = nodeDate.getDate();
    let simpleHour = nodeDate.getHours();
    let theHour = hourConverter(simpleHour);
    let theMinute = (nodeDate.getMinutes()<10?'0':'') + nodeDate.getMinutes();
    
    return {
        year: theYear,
        month: theMonth,
        day: theDay,
        hour: theHour['hour'],
        minutes: theMinute,
        follower: theHour['follower']
    };
};

function hourConverter(time) {
    if (time == 0) {
        return {hour: 12, follower: 'a.m.'};
    } else if (0 < time && time <= 11) {
        return {hour: time, follower: 'a.m.'};
    } else if (time == 12) {
        return {hour: time, follower: 'p.m.'};
    } else {
        return {hour: time-12, follower: 'p.m.'};
    }
};


</script>

{% endblock content %}