{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/movie_detail.css' %}">
{% endblock styles %}

{% block title %}{{ movie.title }}{% endblock title %}

{% block content %}
<div class="movie-detail-container">
    <h1 class="movie-title">{{ movie.title }}</h1>
    <img class="movie-cover-img" src='{{ movie.cover.url }}'>
    <div class="movie-info-container">
        <strong class="info-title info1">Average Review: </strong>
        <div class="parent-holder info-stat stat1">
            <div class="child-holder">
                <span class="bi bi-star-fill"></span>
                <span class="bi bi-star-fill"></span>
                <span class="bi bi-star-fill"></span>
                <span class="bi bi-star-fill"></span>
                <span class="bi bi-star-fill"></span>
            </div>
            <div class="child-holder-filled">
                <span class="hide-element">{{ movie.avg_review }}</span>
                <span class="bi bi-star-fill viewer-review-rating-hover"></span>
                <span class="bi bi-star-fill viewer-review-rating-hover"></span>
                <span class="bi bi-star-fill viewer-review-rating-hover"></span>
                <span class="bi bi-star-fill viewer-review-rating-hover"></span>
                <span class="bi bi-star-fill viewer-review-rating-hover"></span>
            </div>
        </div>
        <strong class="info-title info2">Rating: </strong>
        <div class="stat2">{{ movie.movie_rated }}</div>
        <strong class="info-title info3">Genre: </strong>
        <div class="stat3">
            {% for genre in movie.genre.all %} 
                {% if forloop.last %}
                    {{ genre }}
                {% else %} 
                    {{ genre }},
                {% endif %}
            {% endfor %}
        </div>
        <strong class="info-title info4">Production Company: </strong> 
        <div class="stat4">{{ movie.production_company }}</div>
        <strong class="info-title info5">Distribution Company: </strong> 
        <div class="stat5">{{ movie.distribution_company }}</div>
        <strong class="info-title info6">Release Date:</strong>
        <div class="stat6">{{ movie.date_released }}</div>
        <strong class="info-title info7">Runtime:</strong>
        <div class="stat7">{{ movie.movie_length }} minutes</div>
    </div>
    <div class="plot-container">
        <h4>Plot</h4>
        <div class="plot-text"><p>
            {{ movie.plot }}
        </p></div>
    </div>
    <div class="cast-container">
        <h4>Cast and Crew</h4>
        <div class="cast-card-container">
            {% for crew in movie.crew.all %}
                <div class="cast-card hide-element">
                    <img class="actor-img" src="{{ crew.person.picture.url }}">
                    <div class="actor-info">
                        <a class="actor-name" href="{{ crew.person.get_absolute_url }}">{{ crew.person.name }}</a>
                        <p class="actor-role text-muted">{{ crew.role }}</p>
                    </div>   
                </div>
            {% endfor %}   
        </div>
        <a id="show-more-crew" class="show-crew-link" href="#">(show all)</a>
    </div>
    <div class="review-form-container">
        {% if user.is_authenticated %}
        <div id="unreviewed-form" class="{% if user_review %}hide-element{% endif %}">
            <h4>Write a Review</h4>
            <form class="review-form-style" method="post" id="review-form">
                {% csrf_token %}
                <p id="review-form-title" class="viewer-review-title">{{ review_form.title }}</p>
                <p class="viewer-review-rating">
                    {% for radio in review_form.viewer_rating %}
                        <label  id="form-stars-label" for="{{ radio.id_for_label }}" class="bi bi-star-fill" data-counter="{{ forloop.counter }}">
                            <span class="radio">
                                <input type="radio" name="viewer_rating" value="{{ forloop.counter }}" id="id_viewer_rating_{{ forloop.counter0 }}">
                            </span>
                        </label>
                    {% endfor %}
                </p>
                <p id="review-form-comment" class="viewer-review-comment">{{ review_form.comment }}</p>
                <div class="review-form-btn">
                    <button id="review-form-submit" class="btn btn-outline-secondary" type="submit">Submit</button>
                </div>
            </form>
        </div>
        <div id="already-reviewed-form" class="{% if not user_review %}hide-element{% endif %}">
            <h4>Your Review</h1>
            <div id="user-review-container" class="review-form-style" style="border: none;">
                <h5 id="user-review-title" class="review-post-title">{{ user_review.title }}</h5>
                <div class="parent-holder review-post-stars">
                    <div class="child-holder">
                        <span class="bi bi-star-fill"></span>
                        <span class="bi bi-star-fill"></span>
                        <span class="bi bi-star-fill"></span>
                        <span class="bi bi-star-fill"></span>
                        <span class="bi bi-star-fill"></span>
                    </div>
                    <div class="child-holder-filled" id="user-review-filled-stars">
                        <span id="user-review-rating" class="hide-element">{{ user_review.viewer_rating }}</span>
                        <span class="bi bi-star-fill viewer-review-rating-hover"></span>
                        <span class="bi bi-star-fill viewer-review-rating-hover"></span>
                        <span class="bi bi-star-fill viewer-review-rating-hover"></span>
                        <span class="bi bi-star-fill viewer-review-rating-hover"></span>
                        <span class="bi bi-star-fill viewer-review-rating-hover"></span>
                    </div>
                </div>
                <p id="user-review-comment" class="review-post-comment">{{ user_review.comment }}</p>
                <p id="user-review-author" class="review-post-author">- {{ user }} at <span id='date-posted' name="date-posted">{{ user_review.date_posted.isoformat }}</span></p>
                <button id="user-review-edit-btn" class="btn btn-outline-secondary">edit</button>
                <button id="user-review-delete-btn" class="btn btn-outline-danger" style="float: right;">Delete Review</button>
            </div>
            <form id="user-review-form" class="review-form-style hide-element" method="post" action="{% url 'review_update' %}">
                {% csrf_token %}
                <input type="hidden" id="movie_id" name="movie_id" value="{{ movie.id }}">
                <input class="form-control" type="text" id="user-review-form-title" name="title" placeholder="{{ user_review.title }}">
                <div class="viewer-review-rating">
                    {% with ''|center:5 as range %}
                        {% for radio in range %}
                            <label id="user-review-form-stars-label" for="user_review_viewer_rating_{{ forloop.counter0 }}" class="bi bi-star-fill" data-counter="{{ forloop.counter }}">
                                <span class="radio">
                                    <input type="radio" name="user_viewer_rating" value="{{ forloop.counter }}" id="user_review_viewer_rating_{{ forloop.counter0 }}">
                                </span>
                            </label>
                        {% endfor %}
                    {% endwith %}
                </div>
                <textarea class="form-control" style="height: 128px;" id="user-review-form-comment" name="comment" placeholder="{{ user_review.comment }}"></textarea>
                <button id="user-review-cancel-btn" class="btn btn-outline-secondary" type="submit">Cancel</button>
                <button id="user-review-submit-btn" class="btn btn-outline-secondary" type="submit" style="float: right;">Submit</button>
            </form>
            <br>
            <div id="delete-review-background" class="delete-review-background hide-element"></div>
            <div id="delete-review-form"  class="delete-review-menu hide-element">
                <h2>Delete Review</h2>
                <p>Are you sure you'd like to <strong>delete</strong> your <strong>review</strong></p>
                <form method="POST" action="{% url 'review_delete' %}">
                    {% csrf_token %}
                    <input type="hidden" name="movie_id" value="{{ movie.id }}">
                    <button class="btn btn-outline-secondary" id="delete-review-cancel-btn">Cancel</button>
                    <button class="btn btn-danger" style="float: right;" type="submit">Delete</button>
                </form>
            </div>
            <h4>All Reviews</h4>
        </div>
        {% else %}
            <div class="login-to-review-container">
                <h4>Reviews</h4>
                <p class="login-to-review">
                    &ensp;
                    <a href="{% url 'account_login' %}?next={{request.path}}">log in</a> 
                    | 
                    <a href="{% url 'account_signup' %}?next={{request.path}}">sign up</a> 
                    to write a review
                </p>
            </div>
        {% endif %}
    </div>
    <div class="review-container" id="review-section">
        {% for review in reviews %}
            <div id="review-post" class="review-post-container hide-element">
                <h5  class="review-post-title">{{ review.title }}</h5>
                <div class="review-post-stars">
                    {% with ''|center:5 as range %}
                        {% for x in range %}
                            {% if forloop.counter <= review.viewer_rating %}
                                <span class="bi bi-star-fill viewer-review-rating-hover"></span>
                            {% else %}
                                <span class="bi bi-star-fill"></span>
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                </div>
                <p class="review-post-comment">{{ review.comment }}</p>
                <p class="review-post-author">- {{ review.author }} at <span id='date-posted'>{{ review.date_posted.isoformat }}</span></p>
            </div>
        {% endfor %}
        <div class="d-grid gap-2 col-6 mx-auto my-3">
            <button type="button" id="load-more-reviews" class="btn btn-primary">Load More Reviews</button>
        </div>
    </div>
</div>
<script> 
if (document.querySelector("#review-form")) document.querySelector("#review-form").addEventListener('submit', postReviewData);


const loadMoreReviews = document.querySelector('#load-more-reviews');
const hidReview = [...document.querySelectorAll('#review-post')];
if (hidReview.length <= 9) loadMoreReviews.classList.add('hide-element');

    hidReview.splice(0, 9).forEach(
    elem => elem.classList.remove('hide-element')
    );

    loadMoreReviews.addEventListener('click', function(e) {
    e.preventDefault();
    
    hidReview.splice(0, 6).forEach(
        elem => elem.classList.remove('hide-element')
    )
    
    if (hidReview.length == 0) {
        loadMoreReviews.classList.add('hide-element');
    }
    });

const showAllCrew = document.querySelector('#show-more-crew');
const hidCrew = [...document.querySelectorAll('.cast-card')];
hidCrew.splice(0, 6).forEach(
  elem => elem.classList.remove('hide-element')
);

showAllCrew.addEventListener('click', function(e) {
  e.preventDefault();
  if (showAllCrew.textContent == '(show all)') {
    hidCrew.forEach(
        elem => elem.classList.remove('hide-element')
    );
    showAllCrew.textContent = '(show less)';
  } else {
    hidCrew.forEach(
        elem => elem.classList.add('hide-element')
    );
    showAllCrew.textContent = '(show all)';
  };
});



async function postReviewData(event) {
    event.preventDefault();

    let formTitle = document.querySelector("#id_title").value;
    let formReview = getSelectRadioValue("[name=viewer_rating]");
    let formComment = document.querySelector("#id_comment").value;
    let formAuthor = '{{ request.user.username }}';
    let formDate = new Date();
    
    let dataForm = new FormData();
    
    dataForm.append('viewer_rating', formReview);
    dataForm.append('title', formTitle);
    dataForm.append('comment', formComment);
    dataForm.append('author', formAuthor);
    dataForm.append('csrfmiddlewaretoken', '{{ csrf_token }}')

    await fetch('{% url "movie_detail" movie.id %}', {
        method: 'post',
        body: dataForm,
    })
    .catch(error => {
        console.error(error);
    });

    newReview = createReviewPost(formTitle, formComment, formReview, formAuthor, formDate);
    reviewSection = document.querySelector('#review-section');
    reviewSectionChildren =  reviewSection.childNodes;
    reviewSection.insertBefore(newReview, reviewSectionChildren[1]);

    userReviewTitle.textContent = formTitle;
    userReviewFilledStars.style.width = formReview/5*100 + '%';
    userReviewComment.textContent = formComment;
    formattedDate = myDateTimeFormatter(formDate.toISOString());
    userReviewDatePosted.textContent = `${formattedDate['day']} ${formattedDate['month']} ${formattedDate['year']}, `+
                                       `${formattedDate['hour']}:${formattedDate['minutes']} ${formattedDate['follower']}`;
    userReviewFormTitle.placeholder = formTitle;
    userReviewFormComment.placeholder = formComment;

    unreviewedForm.classList.add('hide-element');
    reviewedForm.classList.remove('hide-element');

    document.querySelector("#review-form").reset();
    resetSelectRadioStyle('#form-stars-label');
};

function getSelectRadioValue(queryValue) {
    let radioButtons = document.querySelectorAll(queryValue);
    for (let button of Array.from(radioButtons)) {
        if (button.checked) {
            return button.value;
        };
    };
    return 0;
};

function resetSelectRadioStyle(queryValue) {
    let radioButtons = document.querySelectorAll(queryValue);
    for (let button of Array.from(radioButtons)) {
        button.style.color = "";
        button.style.textShadow = "";
    }
}

function createReviewPost(title, comment, review, author, date){
    let newDiv = document.createElement('div');
    newDiv.className = 'review-post-container';
    newDiv.id = 'review-post';

    let reviewTitle = document.createElement('h5');
    reviewTitle.className = 'review-post-title';
    reviewTitle.textContent = title;
    newDiv.appendChild(reviewTitle);

    let reviewStarsContainer = document.createElement('div');
    reviewStarsContainer.className = 'review-post-stars';
    let reviewStars = document.createElement('span'); 
    reviewStars.className = 'bi bi-star-fill viewer-review-rating-hover';
    reviewStars.textContent = ' ';
    let addedStar;
    for (let count = 0; count < review; count++) {
        addedStar = reviewStars.cloneNode(true);
        reviewStarsContainer.appendChild(addedStar);
    }
    for (let count = 4; count >= review; count --) {
        addedStar = reviewStars.cloneNode(true);
        addedStar.className = 'bi bi-star-fill';
        reviewStarsContainer.appendChild(addedStar);
    }
    newDiv.appendChild(reviewStarsContainer);

    let reviewComment = document.createElement('p');
    reviewComment.className = 'review-post-comment';
    reviewComment.textContent = comment;
    newDiv.appendChild(reviewComment);

    let reviewAuthor = document.createElement('p');
    reviewAuthor.className = 'review-post-author';
    reviewAuthor.textContent = '- ' + author + ' at ';
    newDiv.appendChild(reviewAuthor);

    let reviewDate = document.createElement('span');
    reviewDateObject =myDateTimeFormatter(date.toISOString());
    reviewDate.textContent = `${reviewDateObject['day']} ${reviewDateObject['month']} ${reviewDateObject['year']}, ` + 
                        `${reviewDateObject['hour']}:${reviewDateObject['minutes']} ${reviewDateObject['follower']}`;
    reviewAuthor.appendChild(reviewDate);

    return newDiv;
};

let unreviewedForm = document.querySelector('#unreviewed-form');
let reviewedForm = document.querySelector('#already-reviewed-form');
let userReviewTitle = document.querySelector('#user-review-title');
let userReviewComment = document.querySelector('#user-review-comment'); 
let userReviewDatePosted = document.querySelector('[name=date-posted]');
let userReviewFormTitle = document.querySelector('#user-review-form-title');
let userReviewFormComment = document.querySelector('#user-review-form-comment');
let userReviewFilledStars = document.querySelector('#user-review-filled-stars');

let userReviewEditBtn = document.querySelector('#user-review-edit-btn');
let userReviewDeleteBtn = document.querySelector('#user-review-delete-btn');
let userReviewCancelBtn = document.querySelector('#user-review-cancel-btn');
let cancelDeleteReviewBtn = document.querySelector('#delete-review-cancel-btn');
let userReviewContainer = document.querySelector('#user-review-container');
let userReviewForm = document.querySelector('#user-review-form');
let deleteReviewBackground = document.querySelector('#delete-review-background');
let deleteReviewForm = document.querySelector('#delete-review-form');

userReviewEditBtn.addEventListener('click', e => {
    e.preventDefault();
    userReviewForm.classList.remove('hide-element');
    userReviewContainer.classList.add('hide-element');
});
userReviewCancelBtn.addEventListener('click', e => {
    e.preventDefault();
    userReviewContainer.classList.remove('hide-element');
    userReviewForm.classList.add('hide-element');
});
userReviewDeleteBtn.addEventListener('click', e => {
    e.preventDefault();
    deleteReviewBackground.classList.remove('hide-element');
    deleteReviewForm.classList.remove('hide-element');
});
cancelDeleteReviewBtn.addEventListener('click', e => {
    e.preventDefault();
    deleteReviewBackground.classList.add('hide-element');
    deleteReviewForm.classList.add('hide-element');
});


</script>

{% endblock content %}