{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/people_detail.css' %}">
{% endblock styles %}

{% block title %}{{ people.name }}{% endblock title %}

{% block content %}
<h1>People Detail</h1>

<h3>{{ people.name }}</h3>
<img style="width: 240px; height: 288px;" src="{{ people.picture.url }}">
<h6>{{ people.birth_date }}</h6>
<h6>{{ people.birth_place }}</h6>
<p>{{ people.biography }}</p>
<h4>Appears in</h4>
{% for role in people.roles.all %}
    <a href="{{ role.movie.get_absolute_url }}">{{ role.movie }}</a>
{% endfor %}

{% endblock content %}