{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile_detail.css' %}">
{% endblock styles %}

{% block title %}Profile{% endblock title %}

{% block content %}
<div class="profile-detail-container">
    <section class="messages">
            {% for key, value in form.errors.items %}
                <p class="errorlist">{{ value }}</p>
            {% endfor %}
            {% for message in messages %}
            {% if 'confirmation_sent' in message.extra_tags %}
                <p class="confirmlist">{{ message }}</p>
            {% endif %}
            {% endfor %}
        </ul>
    </section>
    <section class="profile-info">
        <h1>Profile Info</h1>
        <p><strong>Username: </strong>{{ user }}</p>
        <p><strong>E-mail: </strong>{{ user.email }}</p>
        <p><strong>Date Joined: </strong>{{ user.date_joined }}</p>
        <p><strong>Movies Reviewed: </strong>{{ user.reviews.count }}</p>

        <form method="POST" action="{% url 'email_change' %}" id="email-change-form" class="email-change-form">
            {% csrf_token %}
            <input class="form-control" type="email" name="email" id="id_email" placeholder="E-mail Address" required>
            <button class="btn btn-outline-secondary" type="submit">Change E-mail</button>
        </form>
        <form class="password-reset-form" method="POST" action="{% url 'logged_in_password_reset' %}">
            {% csrf_token %}
            <input id="id_email" type="hidden" name="email" value="{{ user.email }}" required>
            <button class="btn btn-outline-secondary" style="width: 100%; margin: .5em 0;" type="submit">Reset My Password</button>
        </form>
        <button class="btn btn-outline-danger" style="width: 100%;" id="profile-delete-btn">Delete Profile</button>

    </section>
    <section class="profile-all-reviews">
        <h1>Your Reviews</h1>
        <div class="profile-all-reviews-container custom-scrollbar">
        {% for review in user.reviews.all %}
            <a id="{{ review.id }}" class="show-review-btn" href="#">
                <div class="profile-reviews-container">
                    <img class="profile-movie-cover" src="{{ review.movie.cover.url }}">
                    <h6 class="profile-movie-title">{{ review.movie }}</h6>
                    <div class="parent-holder profile-review-rating">
                        <div class="child-holder">
                            <span class="bi bi-star-fill"></span>
                            <span class="bi bi-star-fill"></span>
                            <span class="bi bi-star-fill"></span>
                            <span class="bi bi-star-fill"></span>
                            <span class="bi bi-star-fill"></span>
                        </div>
                        <div class="child-holder-filled">
                            <span class="hide-element">{{ review.viewer_rating }}</span>
                            <span class="bi bi-star-fill viewer-review-rating-hover"></span>
                            <span class="bi bi-star-fill viewer-review-rating-hover"></span>
                            <span class="bi bi-star-fill viewer-review-rating-hover"></span>
                            <span class="bi bi-star-fill viewer-review-rating-hover"></span>
                            <span class="bi bi-star-fill viewer-review-rating-hover"></span>
                        </div>
                    </div>
                    <p class="profile-review-title">{{ review.title }}</p>
                </div>
            </a>
        {% endfor %}
        </div>
    </section>
    <section class="selected-review">
        <div id="selected-review-container" class="selected-review-container hide-element">
            <h5 id="selected-title" class="selected-review-title">This will be the title</h5>
            <div class="parent-holder selected-review-rating">
                <div class="child-holder">
                    <span class="bi bi-star-fill"></span>
                    <span class="bi bi-star-fill"></span>
                    <span class="bi bi-star-fill"></span>
                    <span class="bi bi-star-fill"></span>
                    <span class="bi bi-star-fill"></span>
                </div>
                <div class="child-holder-filled">
                    <span id="selected-rating" class="hide-element">3.5</span>
                    <span class="bi bi-star-fill viewer-review-rating-hover"></span>
                    <span class="bi bi-star-fill viewer-review-rating-hover"></span>
                    <span class="bi bi-star-fill viewer-review-rating-hover"></span>
                    <span class="bi bi-star-fill viewer-review-rating-hover"></span>
                    <span class="bi bi-star-fill viewer-review-rating-hover"></span>
                </div>
            </div>
            <p id="selected-comment" class="selected-review-comment">The comment will go here</p>
            <p class="selected-review-author">- {{ user }} at <span id='selected-date-posted'>{{ review.date_posted.isoformat }}</span></p>
            <button id="selected-review-edit-btn" class="btn btn-outline-secondary">edit</button>
            <button id="delete-review-btn" class="btn btn-outline-danger" style="float: right;">Delete Review</button>

        </div>
        <form id="selected-review-form" class="hide-element" method="post" action="{% url 'profile_review_update' %}">
            {% csrf_token %}
            <input type="hidden" id="id_review_id" name="review_id">
            <input class="form-control" type="text" id="id_title" name="title">
            <div class="viewer-review-rating">
                {% with ''|center:5 as range %}
                    {% for radio in range %}
                        <label id="form-stars-label" for="id_viewer_rating_{{ forloop.counter0 }}" class="bi bi-star-fill" data-counter="{{ forloop.counter }}">
                            <span class="radio">
                                <input type="radio" name="viewer_rating" value="{{ forloop.counter }}" id="id_viewer_rating_{{ forloop.counter0 }}">
                            </span>
                        </label>
                    {% endfor %}
                {% endwith %}
            </div>
            <textarea class="form-control" id="id_comment" name="comment"></textarea>
            <button id="review-form-submit" class="btn btn-outline-secondary" type="submit" style="float: right;">Submit</button>
        </form>
    </section>
    <div class="delete-profile-background hide-element"></div>
    <div id="profile-delete-form" class="delete-profile-menu hide-element">
        <h2>Delete Profile</h2>
        <p>Are you sure you'd like to <strong>delete</strong> your <strong>profile</strong></p>
        <form method="POST" action="{% url 'profile_delete' user.pk %}">
            {% csrf_token %}
            <button class="btn btn-outline-secondary" id="profile-delete-cancel-btn">Cancel</button>
            <button class="btn btn-danger" style="float: right;" type="submit">Yes, Delete My Profile</button>
        </form>
    </div>
    <div id="delete-review-form"  class="delete-profile-menu hide-element">
        <h2>Delete Review</h2>
        <p>Are you sure you'd like to <strong>delete</strong> your <strong>review</strong></p>
        <form method="POST" action="{% url 'profile_review_delete' %}">
            {% csrf_token %}
            <input type="hidden" name="review_id" id="delete-review-confirm-btn">
            <button class="btn btn-outline-secondary" id="delete-review-cancel-btn">Cancel</button>
            <button class="btn btn-danger" style="float: right;" type="submit">Delete</button>
        </form>
    </div>
</div>

<script>
    let profileDeleteBtn = document.querySelector('#profile-delete-btn');
    let profileDeleteForm = document.querySelector('#profile-delete-form');
    let profileDeleteCancelBtn = document.querySelector('#profile-delete-cancel-btn');
    let profileDeleteBackground = document.querySelector('.delete-profile-background');

    let reviewList = [];

    let selectedReviewContainer = document.querySelector('#selected-review-container');
    let selectedTitle = document.querySelector('#selected-title');
    let selectedRating = document.querySelector('#selected-rating');
    let selectedComment = document.querySelector('#selected-comment');
    let selectedDatePosted = document.querySelector('#selected-date-posted');

    let selectedReviewEditBtn = document.querySelector('#selected-review-edit-btn');

    let selectedReviewForm = document.querySelector('#selected-review-form');
    let selectedReviewFormId = document.querySelector('#id_review_id');
    let selectedReviewFormTitle = document.querySelector('#id_title');
    let selectedReviewFormComment = document.querySelector('#id_comment');

    let deleteReviewForm = document.querySelector('#delete-review-form')
    let deleteReviewBtn = document.querySelector('#delete-review-btn');
    let deleteReviewConfirmBtn = document.querySelector('#delete-review-confirm-btn');
    let deleteReviewCancelBtn = document.querySelector('#delete-review-cancel-btn');

    profileDeleteBtn.addEventListener('click', e => {
        profileDeleteForm.classList.remove('hide-element');
        profileDeleteBackground.classList.remove('hide-element');
    });
    profileDeleteCancelBtn.addEventListener('click', e => {
        e.preventDefault();
        profileDeleteForm.classList.add('hide-element');
        profileDeleteBackground.classList.add('hide-element');
    });

    selectedReviewEditBtn.addEventListener('click', e => {
        e.preventDefault();
        selectedReviewForm.classList.remove('hide-element');
        selectedReviewContainer.classList.add('hide-element');
    });

    deleteReviewBtn.addEventListener('click', e => {
        deleteReviewForm.classList.remove('hide-element');
        profileDeleteBackground.classList.remove('hide-element');
    });
    deleteReviewCancelBtn.addEventListener('click', e => {
        e.preventDefault();
        deleteReviewForm.classList.add('hide-element');
        profileDeleteBackground.classList.add('hide-element');
    });
    


    let showReviewBtn = document.querySelectorAll('.show-review-btn');
    reviewsFetch();
    showReviewBtn.forEach(
        elem => elem.addEventListener('click', e => {
            e.preventDefault();

            let filteredReview = reviewList.filter(review => {
                return (review.id.includes(elem.id));
            });

            selectedReviewContainer.classList.remove('hide-element');
            selectedReviewForm.classList.add('hide-element');

            let substrStart = filteredReview[0].date_posted.length-2;
            let substrEnd = filteredReview[0].date_posted.length;
            let dateStr = filteredReview[0].date_posted.substr(0, substrStart);
            let AMorPM = filteredReview[0].date_posted.substr(substrStart, substrEnd);
            let AMorPMFormatted = AMorPM.toLowerCase().split('',2).join('.').concat('.');
            let dateFormatted = dateStr.concat(AMorPMFormatted);

            selectedTitle.textContent = filteredReview[0].title;
            selectedRating.textContent = filteredReview[0].viewer_rating;
            selectedComment.textContent = filteredReview[0].comment;
            selectedDatePosted.textContent = dateFormatted;

            selectedReviewFormId.value = elem.id;
            selectedReviewFormTitle.placeholder = filteredReview[0].title;
            selectedReviewFormComment.placeholder = filteredReview[0].comment;

            deleteReviewConfirmBtn.value = elem.id;
        })
    );

    function reviewsFetch() {
        fetch('{% url "fetch_reviews" %}', {
            headers:{
                'Accept': 'application/json',
                'X-Requested-With': 'XMLHttpRequest',
            },
        }).then(response => {
            return response.json();
        }).then (data => {
            reviewList= data.reviews;
        }).catch(error => {
            console.error(error);
        });
    };

</script>

{% endblock content %}